[data-md-color-scheme="youtube"] {
  --md-primary-fg-color:        #0f34ee;
  --md-primary-fg-color--light: #545353;
  --md-primary-fg-color--dark:  #706e6e;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210;
}

img[alt=Me] { 
    float: left; 
    display: block;
    height:  15em; 
    width: 15em; 
    border-radius: 20em; 
    padding: 10px; 
    
}

img[alt=Clouds] { 
  /*float: left; */
  display: block;
  height:  10em; 
  width: 100em; 
  padding: 9px; 
  
}

body {
    /*background: bisque; */
    /* or, using CSS variables */
    --md-default-bg-color: bisque;
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
}

/* Blog Styles */
.mdx-author {
    display: flex;
    font-size: 13.6px;
  }
  .mdx-author img {
    height: 40px;
    border-radius: 100%;
  }
  .mdx-author p:first-child {
    flex-shrink: 0;
    margin-right: 16px;
  }
  .mdx-author p > span {
    display: block;
  }